!!!
%html
  %head
    %title= "求職者日程"
    =favicon_link_tag 'favicon.ico'
    %meta{:name => "keywords", :content => "スケジュール,調整"}
    %meta{:name => "description", :content => "スケジュール,調整"}
    %meta{:property => "og:title", :content => "Padule"}
    %meta{:property => "og_image", :content => ""}
    %meta{:property => "og:description", :content => ""}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => ""}
    %meta{:property => "og:site_name", :content => "Padule"}

    = stylesheet_link_tag "padule.css"

  %body
    .navbar.navbar-inverse.navbar-fixed-top.padule-nav
      .container-fluid
        = link_to image_tag('logo.png', :alt => "Padule", :class => "logo"), '../', :class => "navbar-brand"

    .seeker-schedule-container.container-fluid{:data=>{:eventid=>"1"}}
      .row-fluid
        .col-12
          .event-container
            %fieldset
              %legend
              %p.text

          .seeker-container
            .form-group
              %label{:for=>"inputName"}
                氏名
              %label.has-error
                hoge
              %input#inputName.input-sm.form-control{:type=>"text", :placeholder=>"氏名"}
            .form-group
              %label{:for=>"inputEmail"}
                メールアドレス
              %input#inputEmail.input-sm.form-control{:type=>"email", :placeholder=>"メールアドレス"}
            .form-group
              %label{:for=>"inputEmail"}
                メールアドレス（確認）
              %input#inputEmail2.input-sm.form-control{:type=>"email", :placeholder=>"メールアドレス"}

          .edit-container
            %p
              ■ ご希望日時を選択してください。
            #seeker-schedule-edit
              %ul

          .seeker-container
            .form-group
              %label
                コメント
              %textarea#inputComment.form-control{:rows=>"3"}

          .control-container
            %p
              ※ 一度送信した内容は修正できません。
            %button#sendSeekerSchedule.btn.btn-success.btn-lg
              内容を送信する
