.navbar.navbar-inverse.navbar-fixed-top.padule-nav
  .container-fluid
    = link_to 'Padule', '../', :class => "navbar-brand"

.seeker-schedule-container.container-fluid{:data=>{:eventid=>"2"}}
  .event-container
    %h4.event-title
    %p.event-text

  .seeker-container
    .form-group
      %label{:for=>"inputName"}
        氏名
      %label.important
        (必須)
      %input#inputName.input-sm.form-control{:type=>"text", :placeholder=>"氏名"}
    .form-group
      %label{:for=>"inputEmail"}
        メールアドレス
      %label.important
        (必須)
      %input#inputEmail.input-sm.form-control{:type=>"email", :placeholder=>"メールアドレス"}
    .form-group
      %label{:for=>"inputEmail"}
        メールアドレス（確認）
      %label.important
        (必須)
      %input#inputEmail2.input-sm.form-control{:type=>"email", :placeholder=>"メールアドレス"}

  .edit-container
    %p
      ■ ご希望日時を選択してください。
    #seeker-schedule-edit
      %ul.list-group

  .seeker-container
    .form-group
      %label
        コメント
      %textarea#inputComment.form-control{:rows=>"3", :placeholder=>"日程に関して、何か伝えたいことがあれば記述してください。"}

  .control-container
    %p.important
      ※ 一度送信した内容は修正できません。
    %button#sendSeekerSchedule.btn.btn-success.btn-lg
      内容を送信する
