@import "padule";

.schedule-sidebar {
  $font-color: #716B7A;
  $orange: #ff8600;

  #addEventButton {
    padding: 10px;
    button {
      width: 100%;
    }
  }

  .schedule-sidenav {
    background-color: #EEE;

    li {
      @include line-bottom;
      &.active a {
        font-weight: bold;
        background-color: $body-color;
        border-left: 6px solid $orange;
        border-right: none;
        outline: none;
      }
      input {
        margin: 6px;
        width: 80%;
      }
    }

    a {
      color: $font-color;
      display: block;
      padding: 10px;
      @include ts-fff;
      &:hover {
        background-color: #DEDEDE;
      }
    }
  }
}

.detail-container {
  margin: 20px;
  .schedule-table-container {
    padding: 12px;
    background-color: #FEFEFE;
    @include box-emboss;
  }

  tr.disabled, tr.disabled:hover {
    th, td {
      background-color: #EEEEEE;
    }
  }

  tbody th {
    max-width: 40px;
  }

  .schedule-btn {
    min-width: 50px;
    font-size: 14px;
    &.disabled.btn-default {
      @include opacity(.2);
    }
  }
}

