@import "padule";

.schedule-sidebar {
  $font-color: #716B7A;
  $orange: #ff8600;

  #addEventButton {
    padding: 10px;
    button {
      width: 100%;
    }
  }

  .schedule-sidenav {
    background-color: #EEE;

    li {
      @include line-bottom;
      a {
        @include line-right;
      }
      &.active a {
        font-weight: bold;
        background-color: #FEFEFE;
        border-left: 6px solid $orange;
        border-right: none;
        outline: none;
        cursor: default;
      }
      input {
        margin: 6px;
        width: 80%;
      }
    }

    a {
      color: $font-color;
      display: block;
      padding: 10px;
      @include ts-fff;
      &:hover {
        background-color: #DEDEDE;
      }
    }
  }
}

$detail-padding: 20px;

.detail-container {
  padding: $detail-padding;
  background-color: #FEFEFE;
  @include box-emboss;

  tr.disabled, tr.disabled:hover {
    th, td {
      background-color: #EEEEEE;
    }
  }

  tbody th {
    max-width: 40px;
  }

  .schedule-btn {
    min-width: 50px;
    &.disabled.btn-default {
      @include opacity(.2);
    }
  }

}

.control-container {
  padding-top: 20px;
  @include box-emboss;
  button, a {
    width: 100%;
  }
  blockquote {
    margin-top: 6px;
    margin-right: 16px;
    margin-bottom: 10px;
  }

  .schedule-add > div {
    margin-right: 6px;
  }

  #scheduleDatepicker {
    width: 120px;
  }
  #scheduleTimepicker {
    width: 120px;
  }
  #addScheduleButton {
    width: 120px;
  }
}

